*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background: #CECCC9;
    font-family: 'Roboto', sans-serif;
}

@keyframes movePokemon{
    0%{
        margin-left: 0;
    }
    25%{
        margin-left: 8px;
    }
    50%{
        margin-left: 16px;
    }
    75%{
        margin-left: 8px;
    }
    100%{
        margin-left: 0;
    }
}