.HeaderBar{
    height: 50px ;
    width: 100%;
    background: linear-gradient(180deg,#23211C , #23211C, #555553);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px #000000 ;
}
.HeaderBar h1{
    color: #F4F4F4;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: underline;
    opacity: 0.7;
    font-family: 'Rhodium Libre', serif;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.HeaderBar h1:hover{
    opacity: 1;
    font-size: 28px;
}
.card-Container{
    max-width: 1000px;
    height: fit-content;
    margin: auto;
    /* background: #7c7156; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 74px 0px 0px 0px;
}
.card{
    width: 270px;
    height: 332px;
    border: 1px solid #000000;
    margin-bottom: 74px;
    position: relative;
    background: #F4F4F4;
}
.pokemon-image img{
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}
.card-content{
    position: absolute;
    bottom: 0;
    height: 218px;
    width: 268px;
    background-color: #23211C;
    border-radius: 50px 0 ;
    padding: 10px 20px;
}
.pokemon-Name-Dex{
    height: 58px;
    width: 100%;
    padding: 12px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokemon-Name-Dex .name{
    font-size: 18px;
    color: #F4F4F4;
    opacity: 0.9;
    font-weight: bold;
    margin-bottom: 4px;
}
.pokemon-Name-Dex .number{
    color: #F4F4F4;
    opacity: 0.6;
    font-size: 14px;
}
.pokemon-Type{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555553;
}
.pokemon-Type .type{
    height: 24px;
    width: 90px;
    border: 1px solid #CECCC9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #CECCC9;
}
